<a href="https://colab.research.google.com/github/AmirFone/S-P-500-equal-weighted-index-Python-/blob/main/'New_S%26P_500_equal_weighted_index'.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import requests
import math

In [ ]:
from google.colab import files
files.upload()

Saving sp_500_stocks.csv to sp_500_stocks.csv

{'sp_500_stocks.csv': b'Ticker\r\nA\r\nAAL\r\nAAP\r\nAAPL\r\nABBV\r\nABC\r\nABMD\r\nABT\r\nACN\r\nADBE\r\nADI\r\nADM\r\nADP\r\nADSK\r\nAEE\r\nAEP\r\nAES\r\nAFL\r\nAIG\r\nAIV\r\nAIZ\r\nAJG\r\nAKAM\r\nALB\r\nALGN\r\nALK\r\nALL\r\nALLE\r\nALXN\r\nAMAT\r\nAMCR\r\nAMD\r\nAME\r\nAMGN\r\nAMP\r\nAMT\r\nAMZN\r\nANET\r\nANSS\r\nANTM\r\nAON\r\nAOS\r\nAPA\r\nAPD\r\nAPH\r\nAPTV\r\nARE\r\nATO\r\nATVI\r\nAVB\r\nAVGO\r\nAVY\r\nAWK\r\nAXP\r\nAZO\r\nBA\r\nBAC\r\nBAX\r\nBBY\r\nBDX\r\nBEN\r\nBF.B\r\nBIIB\r\nBIO\r\nBK\r\nBKNG\r\nBKR\r\nBLK\r\nBLL\r\nBMY\r\nBR\r\nBRK.B\r\nBSX\r\nBWA\r\nBXP\r\nC\r\nCAG\r\nCAH\r\nCARR\r\nCAT\r\nCB\r\nCBOE\r\nCBRE\r\nCCI\r\nCCL\r\nCDNS\r\nCDW\r\nCE\r\nCERN\r\nCF\r\nCFG\r\nCHD\r\nCHRW\r\nCHTR\r\nCI\r\nCINF\r\nCL\r\nCLX\r\nCMA\r\nCMCSA\r\nCME\r\nCMG\r\nCMI\r\nCMS\r\nCNC\r\nCNP\r\nCOF\r\nCOG\r\nCOO\r\nCOP\r\nCOST\r\nCOTY\r\nCPB\r\nCPRT\r\nCRM\r\nCSCO\r\nCSX\r\nCTAS\r\nCTL\r\nCTSH\r\nCTVA\r\nCTXS\r\nCVS\r\nCVX\r\nCXO\r\nD\r\nDAL\r\nDD\r\nDE\r\nDFS\r\nDG\r\nDGX\r\nDHI\r\nDHR\r\nDIS\r\nDISCA\r\nDISCK\r\nDISH\r\nDLR\r\nDLTR\r\nDOV\r\nDOW\r\nDPZ\r\nDRE\r\nDRI\r\nDTE\r\nDUK\r\nDVA\r\nDVN\r\nDXC\r\nDXCM\r\nEA\r\nEBAY\r\nECL\r\nED\r\nEFX\r\nEIX\r\nEL\r\nEMN\r\nEMR\r\nEOG\r\nEQIX\r\nEQR\r\nES\r\nESS\r\nETFC\r\nETN\r\nETR\r\nEVRG\r\nEW\r\nEXC\r\nEXPD\r\nEXPE\r\nEXR\r\nF\r\nFANG\r\nFAST\r\nFB\r\nFBHS\r\nFCX\r\nFDX\r\nFE\r\nFFIV\r\nFIS\r\nFISV\r\nFITB\r\nFLIR\r\nFLS\r\nFLT\r\nFMC\r\nFOX\r\nFOXA\r\nFRC\r\nFRT\r\nFTI\r\nFTNT\r\nFTV\r\nGD\r\nGE\r\nGILD\r\nGIS\r\nGL\r\nGLW\r\nGM\r\nGOOG\r\nGOOGL\r\nGPC\r\nGPN\r\nGPS\r\nGRMN\r\nGS\r\nGWW\r\nHAL\r\nHAS\r\nHBAN\r\nHBI\r\nHCA\r\nHD\r\nHES\r\nHFC\r\nHIG\r\nHII\r\nHLT\r\nHOLX\r\nHON\r\nHPE\r\nHPQ\r\nHRB\r\nHRL\r\nHSIC\r\nHST\r\nHSY\r\nHUM\r\nHWM\r\nIBM\r\nICE\r\nIDXX\r\nIEX\r\nIFF\r\nILMN\r\nINCY\r\nINFO\r\nINTC\r\nINTU\r\nIP\r\nIPG\r\nIPGP\r\nIQV\r\nIR\r\nIRM\r\nISRG\r\nIT\r\nITW\r\nIVZ\r\nJ\r\nJBHT\r\nJCI\r\nJKHY\r\nJNJ\r\nJNPR\r\nJPM\r\nK\r\nKEY\r\nKEYS\r\nKHC\r\nKIM\r\nKLAC\r\nKMB\r\nKMI\r\nKMX\r\nKO\r\nKR\r\nKSS\r\nKSU\r\nL\r\nLB\r\nLDOS\r\nLEG\r\nLEN\r\nLH\r\nLHX\r\nLIN\r\nLKQ\r\nLLY\r\nLMT\r\nLNC\r\nLNT\r\nLOW\r\nLRCX\r\nLUV\r\nLVS\r\nLW\r\nLYB\r\nLYV\r\nMA\r\nMAA\r\nMAR\r\nMAS\r\nMCD\r\nMCHP\r\nMCK\r\nMCO\r\nMDLZ\r\nMDT\r\nMET\r\nMGM\r\nMHK\r\nMKC\r\nMKTX\r\nMLM\r\nMMC\r\nMMM\r\nMNST\r\nMO\r\nMOS\r\nMPC\r\nMRK\r\nMRO\r\nMS\r\nMSCI\r\nMSFT\r\nMSI\r\nMTB\r\nMTD\r\nMU\r\nMXIM\r\nMYL\r\nNBL\r\nNCLH\r\nNDAQ\r\nNEE\r\nNEM\r\nNFLX\r\nNI\r\nNKE\r\nNLOK\r\nNLSN\r\nNOC\r\nNOV\r\nNOW\r\nNRG\r\nNSC\r\nNTAP\r\nNTRS\r\nNUE\r\nNVDA\r\nNVR\r\nNWL\r\nNWS\r\nNWSA\r\nO\r\nODFL\r\nOKE\r\nOMC\r\nORCL\r\nORLY\r\nOTIS\r\nOXY\r\nPAYC\r\nPAYX\r\nPBCT\r\nPCAR\r\nPEAK\r\nPEG\r\nPEP\r\nPFE\r\nPFG\r\nPG\r\nPGR\r\nPH\r\nPHM\r\nPKG\r\nPKI\r\nPLD\r\nPM\r\nPNC\r\nPNR\r\nPNW\r\nPPG\r\nPPL\r\nPRGO\r\nPRU\r\nPSA\r\nPSX\r\nPVH\r\nPWR\r\nPXD\r\nPYPL\r\nQCOM\r\nQRVO\r\nRCL\r\nRE\r\nREG\r\nREGN\r\nRF\r\nRHI\r\nRJF\r\nRL\r\nRMD\r\nROK\r\nROL\r\nROP\r\nROST\r\nRSG\r\nRTX\r\nSBAC\r\nSBUX\r\nSCHW\r\nSEE\r\nSHW\r\nSIVB\r\nSJM\r\nSLB\r\nSLG\r\nSNA\r\nSNPS\r\nSO\r\nSPG\r\nSPGI\r\nSRE\r\nSTE\r\nSTT\r\nSTX\r\nSTZ\r\nSWK\r\nSWKS\r\nSYF\r\nSYK\r\nSYY\r\nT\r\nTAP\r\nTDG\r\nTDY\r\nTEL\r\nTFC\r\nTFX\r\nTGT\r\nTIF\r\nTJX\r\nTMO\r\nTMUS\r\nTPR\r\nTROW\r\nTRV\r\nTSCO\r\nTSN\r\nTT\r\nTTWO\r\nTWTR\r\nTXN\r\nTXT\r\nTYL\r\nUA\r\nUAA\r\nUAL\r\nUDR\r\nUHS\r\nULTA\r\nUNH\r\nUNM\r\nUNP\r\nUPS\r\nURI\r\nUSB\r\nV\r\nVAR\r\nVFC\r\nVIAC\r\nVLO\r\nVMC\r\nVNO\r\nVRSK\r\nVRSN\r\nVRTX\r\nVTR\r\nVZ\r\nWAB\r\nWAT\r\nWBA\r\nWDC\r\nWEC\r\nWELL\r\nWFC\r\nWHR\r\nWLTW\r\nWM\r\nWMB\r\nWMT\r\nWRB\r\nWRK\r\nWST\r\nWU\r\nWY\r\nWYNN\r\nXEL\r\nXLNX\r\nXOM\r\nXRAY\r\nXRX\r\nXYL\r\nYUM\r\nZBH\r\nZBRA\r\nZION\r\nZTS'}

In [ ]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks.shape

(505, 1)

In [ ]:
#testing the Api form iexa I'm using the sendbox version because its free
symbol = 'AAPL'
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
print(data['latestPrice'])

187.28

In [ ]:
#Creating the the new data frame to store the new weighted index 
my_Columns = {'Ticker','Price','Market Capitalization','number of shares to buy'}
final_dataframe = pd.DataFrame(columns=my_Columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of Shares to Buy]
Index: []

In [ ]:
#testing the new data frame
inal_dataframe = final_dataframe.append(
                                        pd.Series(['AAPL', 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of Shares to Buy]
Index: []

In [ ]:
#chunks splits up the data in to 5 LIST 
#this will make jason requseuse much faster to perform
def chunks(lst,n):
  for i in range(0,len(lst),n):
    yield lst[i:i+n]

In [ ]:
#getting data form API
symbol_groups = list(chunks(stocks['Ticker'],100))
symbol_strings =[]
for i in range(0,len(symbol_groups)):
  symbol_strings.append(','.join(symbol_groups[i]))
  #print(symbol_string[i])
final_dataframe = pd.DataFrame(columns = my_Columns)
for symbol_string in symbol_strings:
  batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
  data = requests.get(batch_api_call_url).json()
  for symbol in symbol_string.split(','):
    final_dataframe = final_dataframe.append(
        pd.Series(
            [
             symbol,
             data[symbol]['quote']['latestPrice'], 
             data[symbol]['quote']['marketCap'],
             'N/A'
            ],
            index = my_Columns),
            ignore_index=True
        
    )

In [ ]:
final_dataframe

    Ticker   Price number of shares to buy Market Capitalization
0        A  165.06             49936812432                   N/A
1      AAL   18.61             11934449218                   N/A
2      AAP  241.10             15174373343                   N/A
3     AAPL  180.85           3103252265908                   N/A
4     ABBV  139.13            238012285666                   N/A
..     ...     ...                     ...                   ...
500    YUM  138.45             40849957611                   N/A
501    ZBH  133.45             26971712209                   N/A
502   ZBRA  610.03             32698972437                   N/A
503   ZION   65.76              9964704387                   N/A
504    ZTS  249.74            122449258423                   N/A

[505 rows x 4 columns]

In [ ]:
#user input of portfolio size
portfolio_size = input("Enter the value of your portfolio:")

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")

Enter the value of your portfolio:534534534534

In [ ]:
#arithmetic operations for each stock and rounding down
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])-1):
    final_dataframe.loc[i, 'Number Of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

    Ticker   Price  ... Market Capitalization Number Of Shares to Buy
0        A  165.06  ...                   N/A               6412724.0
1      AAL   18.61  ...                   N/A              56877175.0
2      AAP  241.10  ...                   N/A               4390229.0
3     AAPL  180.85  ...                   N/A               5852829.0
4     ABBV  139.13  ...                   N/A               7607879.0
..     ...     ...  ...                   ...                     ...
500    YUM  138.45  ...                   N/A               7645245.0
501    ZBH  133.45  ...                   N/A               7931691.0
502   ZBRA  610.03  ...                   N/A               1735134.0
503   ZION   65.76  ...                   N/A              16096171.0
504    ZTS  249.74  ...                   N/A                     NaN

[505 rows x 5 columns]

In [ ]:
final_dataframe.to_csv('New S&P 500 equal-weighted index')
files.download('New S&P 500 equal-weighted index')